@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap');
@import 'tailwindcss';
/* stylelint-disable-next-line at-rule-no-unknown */
@plugin "daisyui";


html, body, #root {
  height: 100%;
  margin: 0;
}

/* Login Fehler Schütteln */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-8px); }
  40% { transform: translateX(8px); }
  60% { transform: translateX(-8px); }
  80% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
  /* Add this to make it more visible: */
  border: 2px solid red !important;
}